config.json
# Ignore the wav files in the recordings folder as well as the text files in the transcripts folder
recordings/*.wav
recordings/archive/*.wav

*.pyc

sessions/

whisper_cache/

transcripts/
transcripts/*.txt
transcripts/*.json
transcripts/archive/*.txt